# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objectives:**
* List of Popular Langauges that Data Scientists use
* Commonly used libraries used by Data Scientists
* Commonly used data science tools used

## Author
Amit Kumar

### Some of the popular languages that Data Scientists use are:
### 1. R
### 2. Python
### 3. SQL

### Some of the commonly used libraries used by Data Scientists include:
### 1. NumPy
### 2. Pandas
### 3. SciPy

#
|Data Science Tools |
|-------------------|
|Jupyter|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [3]:
x= (3*4)+5 # This a simple arithmetic expression to mutiply then add integers
x

17

In [5]:
x= 200
y = x/60 # This will convert 200 minutes to hours by diving by 60
y

3.3333333333333335